<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>同乡拼车e</title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link href="/static/carPooling/images/logo-lwpinche.jpg" rel="apple-touch-icon-precomposed">

    <!--标准mui.css-->
    <link rel="stylesheet" type="text/css" href="/static/carPooling/css/mui.min.css">
    <link rel="stylesheet" type="text/css" href="/static/carPooling/css/mui.showLoading.css">
    <!--字体的css-->
    <link rel="stylesheet" type="text/css" href="/static/carPooling/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/carPooling/css/font_526810_qk3yrpzlw4.css">
    <!--App自定义的css-->
    <link rel="stylesheet" type="text/css" href="/static/carPooling/css/mystyle.css">
    <style>
        .mui-modal {
            display: none;
        }
    </style>

    <link href="/static/carPooling/css/mui.indexedlist.css" rel="stylesheet"/>
    <style>
        .mui-tab-label {
            color: #f60;
        }

        #activityPopover {
        }

        #activityPopover .mui-popover {
            max-width: 630px;
            width: 80%;
            margin: 0 auto;
            margin-top: 80px;
            background: none;
            box-shadow: none;
            position: static;
        }

        #activityPopover .mui-popover .pop {
            width: 100%;
            border-radius: 15px;
        }

        #activityPopover .mui-popover .line {
            width: 1px;
            background: #ccc;
            height: 25px;
            margin: 0 auto;
        }

        #activityPopover .mui-popover .close {
            width: 27px;
            height: 27px;
            margin: 0 auto;
        }

        #activityPopover .mui-popover .close img {
            width: 100%;
        }
    </style>

</head>
<body>


<div id="app">
    <nav class="mui-bar mui-bar-tab ">
        <a class="mui-tab-item" v-on:tap="hh.go('/WebApp/Home')">
            <span class="mui-icon mui-icon-home"></span>
            <span class="mui-tab-label">首页</span>
        </a>
        <a class="mui-tab-item" v-on:tap="hh.go('/WebApp/UserAss/Publish')">
            <span class="mui-icon hh-icon hh-icon-edit"></span>
            <span class="mui-tab-label">车主发布</span>
        </a>
        <a class="mui-tab-item" v-on:tap="hh.go('/WebApp/UserCenter')">
            <span class="mui-icon hh-icon hh-icon-user-circle"></span>
            <span class="mui-tab-label">个人中心</span>
        </a>


    </nav>
    <div class="mui-content ">
        <div class="mui-slider" id="banner">
            <div class="mui-slider-group  ">
                <div class="mui-slider-item">
                    <a>
                        <img src="/static/carPooling/images/banner-1.jpg" alt="同乡拼车e"/>
                    </a>
                </div>
            </div>

        </div>

        <div class="section">
            <div class="car-search-box">
                <form class="mui-input-group">
                    <div class="mui-input-row" v-on:click="chooseCity(0)">
                        <label><i class="hh-icon hh-icon-yuandian desc_green"></i>出发城市</label>
                        <label v-text="line.startCity">请选择</label>

                    </div>
                    <div class="mui-input-row" v-on:click="chooseCity(1)">
                        <label><i class="hh-icon hh-icon-yuandian desc_red"></i>到达城市</label>
                        <label v-text="line.endCity">请选择</label>

                    </div>
                    <div class="car-change" v-on:click="exchange()"><i class="hh-icon hh-icon-qiehuan desc_red"></i>
                    </div>
                    <button type="button" class="mart20 mui-btn mui-btn-orange mui-btn-block" v-on:click="goList()">
                        查询车主
                    </button>

                </form>
            </div>
        </div>
        <!--carsearch end-->
        <!--car2 begin-->
        <div class="section">
            <template>
                <div class="car-homeall-box" v-if="curRecSubscribe">
                    <div class="car-banner"><h2><i class="hh-icon hh-icon-yuyue"></i>当前预约</h2></div>
                    <div class="car-home-trip">
                        <div class="car-home-trip-box">
                            <h3 v-on:click="hh.go('/UserRec/Subscribe?id='+curRecSubscribe.Id)">
                                {{curRecSubscribe.StartCity}} -&gt; {{curRecSubscribe.EndCity}}<span>{{formatGoTime(curRecSubscribe.GoTime)}}</span>
                            </h3>
                            <p>系统持续为您匹配中<i class="fa fa-spinner fa-spin"></i></p>
                            <span class="mbtn car-home-trip-btn" v-on:click="cancelRecSubscribe()">取消</span>
                        </div>
                    </div>
                </div>
                <div class="car-homeall-box" v-else-if="curRec">
                    <div class="car-banner"><h2><i class="hh-icon hh-icon-dizhi"></i>当前行程</h2></div>
                    <div class="car-home-trip">
                        <div class="car-home-trip-box">
                            <h3 v-on:click="hh.go('/WebApp/UserRec/Detail?id='+curRec.Id)">{{curRec.StartCity}} -&gt;
                                {{curRec.EndCity}}<span>{{formatGoTime(curRec.GoTime)}}</span></h3>
                            <p>行程进行中<i class="fa fa-spinner fa-spin"></i></p>
                            <span class="mbtn car-home-trip-btn"
                                  v-on:click="hh.go('/WebApp/UserRec/Detail?id='+curRec.Id)">查看</span>
                        </div>
                    </div>
                </div>
                <div class="car-homeall-box" v-else-if="curAss">
                    <div class="car-banner"><h2><i class="hh-icon hh-icon-dizhi"></i>当前行程</h2></div>
                    <div class="car-home-trip">
                        <div class="car-home-trip-box">
                            <h3 v-on:click="hh.go('/WebApp/UserAss/Detail?id='+curAss.Id)">{{curAss.StartCity}} -&gt;
                                {{curAss.EndCity}}<span>{{formatGoTime(curAss.GoTime)}}</span></h3>
                            <p>订/余座：{{curAss.BookedSeat}}/{{curAss.Seat}}人 &nbsp;&nbsp;&nbsp;&nbsp;行程进行中<i
                                    class="fa fa-spinner fa-spin"></i></p>
                            <span class="mbtn car-home-trip-btn"
                                  v-on:click="hh.go('/WebApp/UserAss/Detail?id='+curAss.Id)">查看</span>
                        </div>
                    </div>
                </div>
                <div class="car-homeall-box" v-else>
                    <div class="car-banner"><h2><i class="hh-icon hh-icon-dizhi"></i>快捷查询入口<span
                            class="mui-pull-right f16px desc_999"
                            onclick="mui.alert('请在上方选择“出发城市”、“到达城市”后，单击“查询车主”按钮查看')">其他线路？</span></h2></div>
                    <div class="car-content">
                        <template>
                            <ul class="rowmar10">
                                <li class="coltwo" v-for="nearCar in nearCars">
                                    <div class="car-items"
                                         v-on:click="hh.go('/WebApp/Home/AssList?startCity='+nearCar.StartCity+'&endCity='+nearCar.EndCity+'&_p=hot')">
                                        <div class="fl car-name">{{nearCar.StartCity}} → {{nearCar.EndCity}}</div>
                                    </div>
                                </li>

                            </ul>
                        </template>
                    </div>
                </div>
            </template>
        </div>
        <!--car2 end-->

        <p v-show="isStopServer"
           style='text-align: center;font-size: 24px;font-weight: bold;padding: 40% 20px 20px;position: fixed;top: 0;background: #fff;bottom: 0;width: 100%;z-index: 100;display: none; max-width: 748px;'>
            顺风车服务<br>在当前城市不可用</p>
    </div>
    <a class="baojing" onclick="return baojingTip()"><i class="hh-icon hh-icon-baojing"></i><span>一键<br/>报警</span></a>


    <!--citylist-->
    <div id="citylist" class="mui-modal">
        <header class="mui-bar mui-bar-nav">
            <a class="mui-icon mui-icon-close mui-pull-right" href="#citylist"></a>
            <h1 class="mui-title">请选择{{chooseCityType==0?"出发":"到达"}}城市</h1>
        </header>
        <div class="mui-content" style="height: 100%;">
            <div id='list' class="mui-indexed-list bgcolor-white">
                <div class="mui-indexed-list-search mui-input-row mui-search">
                    <input type="search" class="mui-input-clear mui-indexed-list-search-input" placeholder="搜索城市">
                </div>
                <div class="mui-indexed-list-bar">
                    <a v-for="group in cityGroup">{{group.FirstName}}</a>
                </div>
                <div class="mui-indexed-list-alert"></div>
                <div class="mui-indexed-list-inner">
                    <div class="mui-indexed-list-empty-alert">没有数据</div>
                    <ul class="mui-table-view">
                        <template v-for="group in cityGroup">
                            <li v-bind:data-group="group.FirstName"
                                class="mui-table-view-divider mui-indexed-list-group clear">{{group.FullName}}
                            </li>
                            <template v-for="city in filterCitys(group.FirstName)">
                                <li v-on:click="setCity(city.Name)" class="mui-table-view-cell mui-indexed-list-item"
                                    v-bind:class="{'hot':city.Group=='热'}">{{city.Name}}
                                </li>
                            </template>
                        </template>
                    </ul>
                </div>
            </div>
        </div>
    </div>


</div>


<!--subscription-->
<div id="subscription" class="mui-modal">
    <header class="mui-bar mui-bar-nav">
        <a class="mui-icon mui-icon-left-nav mui-pull-left"
           onclick="mui('#subscription')[0].classList.remove('mui-active')"></a>
        <h1 class="mui-title">请先关注公众号</h1>
    </header>
    <div class="mui-content" style="height: 100%;overflow-y:scroll;">
        <div class="pad10 mui-text-center ">

            <p class="mui-text-left mui-h5">
                微信“扫一扫”下方二维码。
            </p>
            <img class="mart20" src="/static/carPooling/images/wxqrcode-lwpinche.jpg"/>
            <p class="mui-text-center mui-h6 mart10">微信公众号：同乡拼车e</p>
        </div>
    </div>
</div>


<script src="/static/carPooling/js/mui.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/carPooling/js/mui.showLoading.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/carPooling/js/vue.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/carPooling/js/app.js" type="text/javascript" charset="utf-8"></script>

<script src="/static/carPooling/js/qqmap.js"></script>
<script src="/static/carPooling/js/mui.indexedlist.js"></script>
<script type="text/javascript">
    mui.init();
    mui.ready(function () {
        //hotline
        mui.post("/WebApp/Home/GetCurTripTip", function (json) {
            if (json.statusCode == "200") {
                curTrip = json.data;
                if (!!curTrip) {
                    if (curTrip.Type == 1) {
                        app.curRecSubscribe = curTrip;
                    }
                    else if (curTrip.Type == 2) {
                        app.curRec = curTrip;
                    }
                    else if (curTrip.Type == 3) {
                        app.curAss = curTrip;
                    }
                }
            } else {

                mui.post("/WebApp/Home/GetHotLine", function (hotline) {
                    if (hotline && hotline.length > 20) {
                        hotline = hotline.slice(0, 20);
                        console.log(hotline);
                    }
                    app.nearCars = hotline;
                });
            }
//            if (!!curTrip) {
//                if (curTrip.Type == 1) {
//                    app.curRecSubscribe = curTrip;
//                }
//                else if (curTrip.Type == 2) {
//                    app.curRec = curTrip;
//                }
//                else if (curTrip.Type == 3) {
//                    app.curAss = curTrip;
//                }
//            } else {
//                mui.post("/WebApp/Home/GetHotLine", function (hotline) {
//                    if (hotline && hotline.length > 20) {
//                        hotline = hotline.slice(0, 20);
//                        console.log(hotline);
//                    }
//                    app.nearCars = hotline;
//                });
//            }
        });


        //发现菜单
        mui('.mui-scroll-wrapper').scroll();

        //轮播
        if ("1" > 1) {
            //banner
            mui("#banner").slider({
                interval: 3000
            });
        }

        //活动
        var isShowActivity = "0" == "1"
            && (("1" == "1" && (!localStorage.getItem("lastShowActivityDate") || localStorage.getItem("lastShowActivityDate") != (new Date()).Format("yyyyMMdd")))
                || ("0" == "1")
            );
        if (isShowActivity) {
            mui("#activityPopover")[0].style.display = ""
            localStorage["lastShowActivityDate"] = (new Date()).Format("yyyyMMdd");
            mui("#activityPopover .close")[0].onclick = function () {
                mui("#activityPopover")[0].style.display = "none";
            }
        }
        //自动定位当前用户所在地市
        if (hh.isWeixin()) {
            setTimeout(function () {
                mui.post("/WebApp/Home/GetWenxinJsapiConfig", function (json) {
                    json.jsApiList = ["getLocation"];
                    wx.config(json);
                    wx.ready(function () {
                        wx.getLocation({
                            type: 'wgs84',
                            success: function (res) {
                                // 地址解析:http://lbs.qq.com/javascript_v2/guide-service.html#link-four
                                var geocoder = new qq.maps.Geocoder({
                                    complete: function (result) {
                                        if (result.detail.addressComponents.province == "河南省" && "1" == "1" && "0" != 1) {
                                            app.isStopServer = true;
                                            return;
                                        }
                                        if ("lwpinche" == "pinchechengdu") {
                                            return;
                                        }

                                        getGpsCityByName(result.detail.addressComponents.city);
                                    }
                                });
                                var coord = new qq.maps.LatLng(res.latitude, res.longitude);
                                geocoder.getAddress(coord);
                            }
                        });
                    });
                });
            }, 200);
        }

        //根据定位的城市名称 获取城市id 和数据库中的城市名称
        function getGpsCityByName(cityName) {
            cityName = cityName.replace("市", "");

            var isGpsed = !!localStorage.getItem("lastGpsedDate") && localStorage.getItem("lastGpsedDate") == (new Date()).Format("yyyyMMdd");
            if (cityName && cityName != app.line.startCity && !isGpsed) {
                //当自动定位的城市与当前城市不符时 且 还未定位过，去数据库获取对应的 城市id
                localStorage["lastGpsedDate"] = (new Date()).Format("yyyyMMdd");

                //当 当前城市为空时，直接将定位城市赋值上去，不用提示用户
                mui.confirm("当前定位地址为【" + cityName + "】，是否切换出发地到【" + cityName + "】？", function (e) {
                    if (e.index == 1) {
                        if (cityName != "成都") {//不是郑州了，目的地改为郑州
                            app.line.endCity = "成都";
                        }
                        else {//是郑州了，将目的地切换为当前的出发地
                            app.line.endCity = app.line.startCity;
                        }
                        app.line.startCity = cityName;
                    }
                });
            }
        }


    });

    var app = new Vue({
        el: '#app',
        data: {
            line: {
                startCity: localStorage.getItem("startCitys") ? localStorage.getItem("startCitys") : '成都',
                endCity: localStorage.getItem("endCitys") ? localStorage.getItem("endCitys") : '泸定县'
            },
            chooseCityType: 0,
            cityGroup: [],
            cityDetails: [],
            nearCars: null,
            curAss: null,
            curRec: null,
            curRecSubscribe: null,
            isStopServer: false
        },
        methods: {
            exchange: function () {
                var temp = this.line.startCity;
                this.line.startCity = this.line.endCity;
                this.line.endCity = temp;

            },
            chooseCity: function (type) {
                this.chooseCityType = type;
                if (this.cityGroup.length == 0) {
                    mui.post("/WebApp/Home/GetCityList", function (json) {
                        app.cityGroup = json.Group;
                        app.cityDetails = json.Details;
                        if (!window.indexedList) {
                            //citylist
                            var list = mui('#list')[0];
                            list.style.height = (mui('#citylist')[0].offsetHeight - mui('#citylist header.mui-bar')[0].offsetHeight) + 'px';


                            setTimeout(function () {
                                //create
                                window.indexedList = new mui.IndexedList(list);
                            }, 100);
                        }
                    });
                }

                mui('#citylist')[0].classList.add('mui-active');

            },
            filterCitys: function (firstName) {
                return app.cityDetails.filter(function (city) {
                    return city.Group == firstName;
                });
            },
            setCity: function (city) {
                if (this.chooseCityType == 0) {
                    this.line.startCity = city;
                }
                else {
                    this.line.endCity = city;
                }
                mui('#citylist')[0].classList.remove('mui-active');
                window.indexedList.el.searchInput.value = '';
                window.indexedList.search('');
            },
            formatGoTime: function (goTimeStr) {
                var gotime = new Date(goTimeStr);
                return gotime.Format("MM-dd hh:mm");
            },
            cancelRecSubscribe: function () {
                mui.confirm("确定要取消预约？", function (e) {
                    if (e.index == 1) {
                        mui.post("/WebApp/UserRec/CancelSubscribe", {id: app.curRecSubscribe.Id}, function (json) {
                            if (json.statusCode == "200") {
                                mui.alert(json.message, function () {
                                    hh.reload();
                                });
                            }
                            else {
                                mui.alert(json.message);
                            }
                        });
                    }
                });

            },
            goList: function () {
                if (!app.line.startCity) {
                    mui.alert("请选择出发城市", function () {
                        app.chooseCity(0);
                    });
                    return false;
                }
                if (!app.line.endCity) {
                    mui.alert("请选择到达城市", function () {
                        app.chooseCity(1);
                    });
                    return false;
                }

                hh.go('/WebApp/Home/AssList?startCity=' + app.line.startCity + '&endCity=' + app.line.endCity + '&_p=btn')
            }
        }
    });

    function baojingTip() {
        mui.confirm("谎报警情将可能被处以五日以上十日以下拘留", "<span class='desc_danger'>谎报警情，依法追责</span>", ["取消", "继续报警"], function (ee) {
            if (ee.index == 1) {
                hh.go("tel:110");

                //if (mui.os.ios) {
                //    hh.go("tel:110");
                //}
                //else {
                //    mui.confirm("确定拨打电话：110吗？", function (e) {
                //        if (e.index == 1) {
                //            hh.go("tel:110");
                //        }
                //    });
                //}
            }
        });
    }
</script>

<script>
    mui.ready(function () {
        mui(".mui-modal").each(function () {
            this.style.display = "block";
        });
    });
</script>
<script>
    //var _hmt = _hmt || [];

    // 百度统计，暂时不需要
    //(function() {
    //  var hm = document.createElement("script");
    //  hm.src = "https://hm.baidu.com/hm.js?a0694c9c6c17b1bfb616beb7d946aecb";
    //  var s = document.getElementsByTagName("script")[0];
    //  s.parentNode.insertBefore(hm, s);
    //})();
</script>


</body>
</html>