

<!doctype html>

<html lang="en">

<head>

    <meta charset="UTF-8" />

    <title>来往拼车</title>

    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />

    <meta name="apple-mobile-web-app-capable" content="yes">

    <meta name="apple-mobile-web-app-status-bar-style" content="white">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <link href="/static/carPooling/images/logo-lwpinche.jpg" rel="apple-touch-icon-precomposed">

    <!--标准mui.css-->
    <link rel="stylesheet" type="text/css" href="/static/carPooling/css/mui.min.css">
    <link rel="stylesheet" type="text/css" href="/static/carPooling/css/mui.showLoading.css">
    <!--字体的css-->
    <link rel="stylesheet" type="text/css" href="/static/carPooling/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/carPooling/css/font_526810_qk3yrpzlw4.css">
    <!--App自定义的css-->
    <link rel="stylesheet" type="text/css" href="/static/carPooling/css/mystyle.css">
   <style>
       .mui-modal{display:none;}
   </style>

    <link href="/static/carPooling/css/mui.indexedlist.css" rel="stylesheet" />
   <style>

       .mui-modal{display:none;}

   </style>

    

    <style>

        img {

            pointer-events: none;

        }

    </style>



</head>

<body>

    

<div id="app">

    <header class="mui-bar mui-bar-nav">

        <a class="mui-btn  mui-btn-link mui-btn-nav mui-pull-left" onclick="hh.go('/WebApp/UserAss/List')"><span class="mui-icon mui-icon-left-nav"></span>我的行程</a>

        <a class="mui-btn  mui-btn-link mui-btn-nav mui-pull-right" onclick="hh.go('/WebApp/Home')"><span class="mui-icon mui-icon-home"></span></a>

        <h1 class="mui-title">车主出行详情</h1>

    </header>

    <div class="mui-content">

        <template>

            <div class="pad10 bgcolor-white">

                <div class="car-travel-box">

                    <a v-bind:href="'/WebApp/Home/AssShareTip?id='+ass.Id" class="mbtn btn-line-red btn-size-b car-travel-btn">出行详情</a>

                    <div class="car-travel-con">

                        <p>【起止地】{{ass.StartCity}} -&gt; {{ass.EndCity}}</p>

                        <p>【时间】{{hh.formatGoTime(ass.GoTime)}}</p>

                        <p>【余座】<span class="desc_red f18px fb">{{ass.Seat}}</span>座</p>

                    </div>

                    <a class="mbtn btn-size-b car-order-btn " v-bind:href="'/WebApp/UserAss/Edit?id='+ass.Id">修改行程</a>

                </div>

            </div>

            <div class="car-guest-box">

                <div class="car-guest-tit">

                    <h3>乘客信息</h3>

                    <!--<a v-on:click="openLoc()" class="mbtn btn-line btn-size-b car-travel-btn">查看乘客位置</a>-->

                </div>

                <div class="car-guest-con">

                    <ul>

                        <li v-for="(rec,index) in recList">

                            <div class="car-guest-num">{{index+1}}</div>

                            <h3>

                                {{rec.Name}}

                                <a class="desc_red border-bottom-dashed" v-bind:href="rec.PhoneUrl"> {{rec.Phone}}</a> 

                                </h3>

                            <p class="mart10">上车点（留言）： {{rec.BookSeat}}人，<span v-html="formatTel(rec.StartPlace)"></span></p>

                        </li>

                    </ul>

                    <div class="car-nodata"  v-if="recList && recList.length==0">

                        <div class="car-data-ico"><i class="hh-icon hh-icon-zanwujilu"></i></div>

                        <h3 class="mart10">暂无乘客信息！</h3>

                    </div>

                </div>

            </div>

       </template>

</div>

</div>



    

   

    <!--subscription-->

    <div id="subscription" class="mui-modal">

        <header class="mui-bar mui-bar-nav">

            <a class="mui-icon mui-icon-left-nav mui-pull-left" onclick="mui('#subscription')[0].classList.remove('mui-active')"></a>

            <h1 class="mui-title">请先关注公众号</h1>

        </header>

        <div class="mui-content" style="height: 100%;overflow-y:scroll;">

            <div class="pad10 mui-text-center ">



                        <p class="mui-text-left mui-h5">

                            微信“扫一扫”下方二维码。

                        </p>

                <img class="mart20" src="/static/carPooling/images/wxqrcode-lwpinche.jpg" />

                <p class="mui-text-center mui-h6 mart10">微信公众号：来往拼车</p>

            </div>

        </div>

    </div>

   



    <script src="/static/carPooling/js/mui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/carPooling/js/mui.showLoading.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/carPooling/js/vue.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/carPooling/js/app.js" type="text/javascript" charset="utf-8"></script>

    

    <script type="text/javascript">

        mui.init();



        mui.ready(function () {

            if (!hh.getQueryString("id"))

                hh.go("/WebApp/UserAss/List");

            app.getData();

        });



        var app = new Vue({

            el: '#app',

            data: {

                ass: {},

                recList:null

            },

            methods: {

                getData: function () {

                    mui.post("/WebApp/UserAss/GetDetailData", {"id":hh.getQueryString("id")}, function (json) {

                        if (json.statusCode == "200") {

                            app.ass = json.data;

                        }

                        else {

                            hh.go("/WebApp/UserAss/List");

                        }

                    });



                    mui.post("/WebApp/UserAss/GetRecListByAss?assid=" + hh.getQueryString("id"), {}, function (json) {

                        if (json.data == null)

                            json.data = [];

                        app.recList = json.data;



                    });



                },

                openLoc: function () {

                    var SendTravelStartTime = parseInt("90");

                    var goTime = new Date(app.ass.GoTime);

                    var now = new Date();

                    if (now - goTime <= -60000 * SendTravelStartTime) {

                        mui.alert('您可在出发前' + SendTravelStartTime + '分钟（' + new Date(goTime.getTime() - SendTravelStartTime * 60000).Format("HH:mm") + ')之后）查看乘客位置', "行程尚未开始");

                    } else if (now - goTime >= 3600000) {

                        mui.alert('位置共享已关闭！');

                    }

                    else {

                        hh.go('/WebApp/UserAss/Location?assid=' + app.ass.Id);

                    }

                },

                formatTel: function (remark) {

                    var m= remark.match( new RegExp(/1[3456789]\d{9}/));

                    if (m) {

                        var tel = m[0];

                        remark = remark.replace(tel, "<a href='tel:" + tel + "' class='border-bottom-dashed'>" + tel + "</a>");

                    }



                    return remark;

                }

            }

        });



    </script>



    <script src="/static/carPooling/js/jquery.min.js"></script>

    <script src="/static/carPooling/js/jquery.signalR-2.2.3.min.js"></script>

    <script>

//        try {
//
//            $(function () {
//
//
//
//                $.getScript("http://signalr.51bc.cc:8082/signalr/hubs", function () {
//
//
//
//                    var GROUP_NAME = "b8cf77a3-c671-4560-9bed-a746b8a52276";
//
//                    var MY_USER_ID = "4177159e-898c-4cc5-91ac-cc38c62e3c10 ";
//
//                    var MY_USER_NAME = "小杨";
//
//                    var MY_PHONE = "18649715651";
//
//                    var IS_CAR_OWNER = "1";
//
//                    var pushTimespan = parseInt("10") * 1000;
//
//                    var signalRHost = "http://signalr.51bc.cc:8082";
//
//
//
//                    //日记记录
//
//                    $.connection.hub.logging = true;
//
//                    //设置hubs的url
//
//                    $.connection.hub.url = signalRHost + "/signalr";
//
//
//
//                    // 声明一个代理来引用该集线器。
//
//                    CHAT_HUB = $.connection.chatHub;
//
//
//
//                    CHAT_HUB.client.addMessageToPage = function (chatModel) { };
//
//                    CHAT_HUB.client.updateMarkToPage = function (locationModel) { };
//
//                    // 启动 connection
//
//                    $.connection.hub.start().done(function () {
//
//                        //alert($.connection.hub.transport.name);
//
//                        //加入组
//
//                        CHAT_HUB.server.joinGroup({
//
//                            GroupName: GROUP_NAME,
//
//                            UserId: MY_USER_ID,

//                            IsCarOwner: IS_CAR_OWNER
//
//                        });



//                        $.post("/WebApp/Home/GetWenxinJsapiConfig").success(function (json) {
//
//                            json.jsApiList = ["getLocation"];
//
//                            wx.config(json);
//
//                            wx.ready(function () {
//
//                                pushMyLocation();
//
//                                //美间x秒上传我的位置
//
//                                setInterval(function () {
//
//                                    pushMyLocation();
//
//                                }, pushTimespan);
//
//
//
//                            });
//
//                        });
//
//
//
//
//
//                    });
//
//                    $.connection.hub.reconnected(function () {
//
//                        console.log("reconnected");
//
//                        //加入组
//
//                        CHAT_HUB.server.joinGroup({
//
//                            GroupName: GROUP_NAME,
//
//                            UserId: MY_USER_ID,
//
//                            IsCarOwner: IS_CAR_OWNER
//
//                        });
//
//                    });
//
//
//
//                    function pushMyLocation() {
//
//                        wx.getLocation({
//
//                            type: 'gcj02',//wgs84 gps坐标，gcj02火星坐标(腾讯)
//
//                            success: function (res) {
//
//                                var myLocationModel = {
//
//                                    UserId: MY_USER_ID,
//
//                                    IsCarOwner: IS_CAR_OWNER,
//
//                                    Sender: MY_USER_NAME,
//
//                                    Msg: "{\"lat\":" + res.latitude + ",\"lng\":" + res.longitude + "}",
//
//                                    GroupName: GROUP_NAME,
//
//                                    SendTime: (new Date()).Format("yyyy-MM-dd hh:mm:ss"),
//
//                                    Phone: MY_PHONE
//
//                                };
//
//                                //发送我的位置到服务器
//
//                                CHAT_HUB.server.shareToOther(myLocationModel);
//
//                            }
//
//                        });
//
//                    }
//
//                });
//
//
//
//            });
//
//        } catch (e) {
//
//            console.log(e);
//
//        }
//
//

    </script>



    <script>

        mui.ready(function () {

            mui(".mui-modal").each(function () {

                this.style.display = "block";

            });

        });

    </script>





    

</body>

</html>

