@charset "utf-8";
/* CSS Document */
html{font-size:62.5%;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
body{color:#333; font:1.4rem/1.5 -apple-system-font,BlinkMacSystemFont,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei UI","Microsoft YaHei",Arial,sans-serif;background-color:#F5F5F5;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,pre,form,fieldset,legend,figure,input,textarea,blockquote,td,tr,th,thead,tbody{padding:0px; margin:0px;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {display: block}
audio, canvas, progress, video {display: inline-block;vertical-align: baseline}
audio:not([controls]) {display: none;height: 0}
* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;user-select:auto;-webkit-user-select:auto;}
:before, :after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box}
img,i{border:0;vertical-align:middle; font-style: normal; -ms-interpolation-mode: bicubic}
table{border-collapse:collapse;border-spacing:0px}
p{word-wrap:break-word}
ol,ul {list-style:none;}
li{list-style-type:none;}
b, strong {font-weight: bold;}
address,cite,code,em,th {font-weight:normal; font-style:normal;}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:inherit}
dfn {font-style: italic}
hr {-webkit-box-sizing: content-box;box-sizing: content-box;height: 0;}
mark {background: #ff0;	color: #000}
q {	quotes: none}
q:before, q:after {content: ''; content: none}
svg:not(:root) {overflow: hidden;_zoom: 1}
legend {border:0;padding:0;white-space: normal;*margin-left:-7px;}
/*禁止微信放大字体*/
body {text-size-adjust:100%!important;-moz-text-size-adjust:100%!important;-webkit-text-size-adjust:100%!important;}
/*PC访问时*/
@media(min-width:769px) {
    html {
        max-width: 750px;
        margin: 0 auto;
        min-height: 100%;
        border: solid 1px #ccc;
        /*background: #fff;*/
    }

    .mui-bar, .mui-modal,.mui-fullscreen {
        max-width: 748px;
        margin: 0 auto;
    }
    .mui-scroll-wrapper{
        max-width: 748px;
        margin: 0 auto;
        left:auto;
    }
    .mui-btn-block,
    .car-mbtn-search{max-width:750px;}
}

/* input select textarea format */
.mbtn{display:inline-block;text-align:center;color:#FFF;background-color:#f60;border-radius:0.3rem;border:1px solid #f66600;transition: all .4s;-moz-box-shadow:1px 1px 2px rgba(100,100,100,.3);-webkit-box-shadow:1px 1px 2px rgba(100,100,100,.3);box-shadow:1px 1px 2px rgba(100,100,100,.3); padding:0 1rem;pvertical-align: bottom;}
.mbtn:hover{background-color:#f66600;color:#FFF;}
.mbtn:active{-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.18);box-shadow:inset 0 2px 4px rgba(0,0,0,0.18)}

.btn-line{background-color:#FFF;color:#666; border-color: #ccc;}
.btn-line:hover{background-color:#f2f2f2; border-color: #aaa;color:#333}

.btn-line-red{background-color:#FFF;color:#f60; border-color: #f60;}
.btn-line-red:hover{background-color:#FFF8EF; border-color: #f60;color:#e60}

.btn-size-a{height:3.0rem;line-height:3.0rem;font-size:1.5rem;padding-left: 1.5rem;padding-right: 1.5rem;}
.btn-size-b{height:2.4rem;line-height:2.4rem;font-size:1.4rem;padding:0 1.2rem;}

button:enabled:active,input[type=button]:enabled:active,input[type=reset]:enabled:active,input[type=submit]:enabled:active{color:#fff;background-color:#f66600}

/* mui reset*/
textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
    color: #ccc;
}
.can-select *{
user-select:auto;
-webkit-user-select:auto;
}
.not-select *{
user-select:none;
-webkit-user-select:none;
}

.mui-content {background-color:#F5F5F5;}
.mui-input-group:before,.mui-input-group:after{height: 0;}
.mui-input-group .mui-input-row{height: auto; }
.mui-input-group .mui-input-row:after{left: 0rem; }
.mui-input-group .mui-input-row label{height: 4.4rem; line-height: 4.4rem; padding: 0 0 0 1.0rem;}
.mui-input-group .mui-input-row input{height: 4.4rem;line-height: 4.4rem; padding: 0 1.0rem;}
.mui-input-group .mui-input-row input[disabled],
.mui-input-group .mui-input-row select[disabled],
.mui-input-group .mui-input-row textarea[disabled]{color:#666;-webkit-text-fill-color:#666;-webkit-opacity;1; opacity:1;}
.mui-input-row .mui-input-clear ~ .mui-icon-clear{height: 4.4rem;line-height:4.4rem; top:0; }
.mui-input-row .mui-numbox{ margin:8px;float:left;}
.mui-input-row .mui-numbox .mui-input-numbox { height:100%; line-height:100%;}
.mui-input-row .mui-input-row-btn{position:absolute;right:0;height:3rem;top:0.7rem;border-left: 1px solid #ccc;width:80px;line-height:3rem;}

.car-myall-tab{padding:1rem 3rem; }
.mui-segmented-control {font-size: 1.6rem;border: 1px solid #f60;border-radius: 3px; }
.mui-segmented-control .mui-control-item.mui-active {color: #fff;background-color: #f60;}
.mui-segmented-control .mui-control-item {line-height: 3.8rem;color: #666;border-color: #f60;border-left: 1px solid #f60;}
p{color:inherit; font-size:1.4rem}

/*.mui-bar-nav{border-bottom: 1px solid #ccc; box-shadow: 0 0px 0px #ccc;}*/
.mui-title{color:#f60;}
.mui-title img{max-height:17px; margin:0 5px;}

.mui-bar{background:#fff;}
.mui-bar .mui-icon{color:#ff6600;opacity: 1;}
.mui-bar .mui-btn-link{color:#ff6600;}

.mui-btn-orange{color: #fff;border: 1px solid #FF6600;background-color: #FF6600;}
.mui-btn-orange:enabled:active,
a.mui-btn-orange:active,
.mui-btn-orange.mui-active:enabled{color: #fff;border: 1px solid #f70;background-color: #f70;}
.mui-btn-outlined.mui-btn-orange{color: #f60;background: none;}
.mui-bar .mui-btn-link.mui-active, .mui-bar .mui-btn-link:active{color: #f60;}
.mui-bar .mui-icon:active,
.mui-bar .mui-btn-nav:active{opacity: 1;}
.mui-btn-block{ padding:10px 0;}
img.mui-img-round {	border-radius: 50%;}
.mui-bar-tab .mui-tab-item.mui-active{color:#ff6600;}

/*fixed mui bug*/
.mui-search .mui-placeholder { pointer-events:none;}
.mui-table-view{background-color:transparent;}
.mui-indexed-list-group, .mui-indexed-list-item {
padding-right:0;
margin-right:33px;
}
 .mui-pull-bottom-tips {
text-align: center;
background-color: #F5F5F5;
font-size: 15px;
line-height: 40px;
color: #777;
}
/*header*/
.car-header {position: fixed;z-index: 19;top:0;right: 0;left: 0;width:100%; height:4.4rem; line-height:4.4rem;  background:#fff; border-bottom: 1px solid #ddd;-webkit-box-shadow: 0 1px 6px #eee;box-shadow: 0 1px 6px #eee;padding-right: 1.0rem;padding-left: 1.0rem;}
.car-header .car-title{ position: absolute;z-index: 17;height:4.4rem; line-height:4.4rem; left:0rem;text-align:center;color:#f60;font-size:2.0rem; width: 100%; display: inline-block;}
.car-header a{position: relative;z-index: 18;display:inline-block;width:4.4rem; height:4.4rem; line-height:4.4rem; }
.car-header .car-top-user{width:4.4rem; float: left; }
.car-header .car-top-write{width:auto; float: right;}
.car-header a i{ height:4.4rem; line-height:4.4rem; color:#f60;font-size:2.4rem;display: inline-block; vertical-align: bottom;}
.car-header a span{ font-size:1.5rem; display: inline-block;color:#f60; padding-left: 0.3rem; }


.car-header .car-title img{height:2.0rem; margin: 0 1rem;}
/*container*/
.container{*zoom:1;margin-top: 4.4rem; }
.container:before, .container:after {content: " ";	display: table}
.container:after {clear:both;}

.section{*zoom:1;padding:0 1rem; background-color: #fff; margin-top: 1.0rem;}
.section:before, .section:after {content: " ";	display: table}
.section:after {clear:both;}

.content{*zoom:1;padding:0 1rem; background-color: #fff; }
.content:before, .content:after {content: " ";	display: table}
.content:after {clear:both;}

/* home */
.car-adv{margin:0;}
.car-adv img{width: 100%;}

.car-search-box{padding:1rem 0;}
.car-search-box label{font-size: 1.5rem;}
.car-search-box label i{font-size: 1.6rem; padding-right: 0.5rem; vertical-align:bottom;}

.car-search-box .car-change{position: absolute; z-index: 9; top:2.3rem; right: 2.0rem; background-color: #fff; }
.car-search-box .car-change i{font-size: 2.8rem;  }

.car-mbtn-search{ width: 100%; line-height: 3.6rem; font-size: 1.8rem; margin: 1.5rem 0 0.5rem;}

.car-homeall-box{margin:0.5rem 0 1.0rem;}
.car-homeall-box .car-banner h2{height:4.4rem; line-height:4.4rem; color:#f60;font-size:1.8rem;}
.car-homeall-box .car-banner h2 i{font-size:2.4rem; padding-right: 0.5rem; vertical-align: bottom;}

.car-homeall-box .car-content ul li {float:left;margin-bottom: 1.0rem;}
.car-homeall-box .car-content .car-items{padding:0 1.0rem; clear: both; overflow: hidden;border: 1px solid #dfdfdf; height: 3.6rem; line-height: 3.6rem; background-color:#f9f9f9; border-radius: 0.5rem;font-size: 1.3rem}

.car-home-trip{padding: 1.5rem 1rem; width:100%; border-top: 1px solid #ddd; background-color: #FFF;}
.car-home-trip .car-home-trip-box{position: relative;}
.car-home-trip .car-home-trip-box h3{ font-size: 1.6rem; color: #f60;border-bottom: 1px dashed #ccc; padding-bottom: 0.8rem; margin-bottom: 0.8rem; }
.car-home-trip .car-home-trip-box p{ font-size: 1.4rem;  }
.car-home-trip .car-home-trip-box h3 span{padding-left: 2rem }
.car-home-trip .car-home-trip-box .car-home-trip-btn{position:absolute; line-height: 3rem;height: 3rem; font-size: 1.4rem; top:50%; right:-1rem; margin-top: -1.5rem }

 .baojing {
    position: fixed;
    right: 0;
    bottom: 100px;
    width: 95px;
    height: 50px;
    background: #fff;
        box-shadow: 0 0px 6px 0px #ccc;
    display: block;
    border-radius: 25px 0 0 25px;
    padding: 5px;
}
       .baojing i {
               width: 40px;
    display: block;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    float: left;
    background: #ff3b30;
    border-radius: 25px;
    color: #fff;
       }
       .baojing span{line-height: 15px;
    display: block;
    float: left;
    padding: 5px 0 0 10px;
    color:#666;
       }
/*citylist hot*/
.mui-table-view .mui-indexed-list-item.hot {
    float: left;
    min-width:70px;
    width: calc(25% - 15px);
    border: solid 1px #ccc;
    padding: 5px;
    margin: 3px 0 3px 5px;
    text-align: center;
}
li.mui-table-view-cell.mui-indexed-list-item.hot:after {
    height:0;
}

/*brandlist hot*/
.mui-table-view .mui-indexed-list-item.hotbrand {
    float: left;
    min-width:60px;
    width: calc(20% - 5px);
    border-right: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    padding: 0px;
    margin: 0;
    text-align: center;
}
    .mui-table-view .mui-indexed-list-item.hotbrand img {
        max-width:80px;
        padding:0 5px 0 5px;
    }
.mui-table-view-cell.hotbrand:after {
    height:0;
}

.mui-indexed-list-search.mui-search:before {margin-top:0px;}
.mui-indexed-list {width:100%;}
/*member*/
.car-member-top{position: relative;background:#fff; /*background:url(../img/user_bg.png); background-size: cover;*/ padding: 2.0rem 1.5rem 2.0rem 11rem}
.car-member-top .car-member-top-pic{position: absolute; top:2.0rem;left: 1.5rem; }
.car-member-top .car-member-top-pic img{ width: 8rem; height: 8rem; border-radius: 5rem}
.car-member-top .car-member-top-con{height: 8rem; }
.car-member-top .car-member-top-con h2{ line-height: 180%;font-size: 1.8rem;}
.car-member-top .car-member-top-con p{line-height: 160%;font-size: 1.5rem;}

.car-member-list{padding:0.5rem 0; }
.car-member-list ul li{position: relative;  height: 5rem;border-bottom: 1px solid #dfdfdf;}
.car-member-list ul li:last-child{ border-bottom: none;}
.car-member-list ul li h3{line-height: 5rem; height: 5rem; font-size: 1.6rem; }
.car-member-list ul li h3 i{font-size: 2.0rem; vertical-align: bottom; padding:0 1.0rem;color: #999}
.car-member-list ul li h3 i.colora{color: #3ec323}
.car-member-list ul li h3 i.colorb{color: #2e6fce}
.car-member-list ul li h3 i.colorc{color: #c250c9}
.car-member-list ul li h3 i.colord{color: #db8100}
.car-member-list ul li h3 i.colore{color: #f60}
.car-member-list ul li span{position: absolute; top: 50%;right: 0; height: 5rem; line-height: 5rem;margin-top: -2.5rem;}
.car-member-list ul li span i{font-size: 1.8rem;}


.car-member-money b{font-size: 2.0rem;}

/* car-publish */
.car-publish-box{padding: 0.5rem 0;}
.car-publish-box label{font-size: 1.5rem;width:30%; }
.car-publish-box input,.car-publish-box textarea,.car-publish-box select{font-size: 1.5rem; }
.car-publish-box .mui-input-row label~input,.car-publish-box .mui-input-row label~select,.car-publish-box .mui-input-row label~textarea{padding-left: 1rem;padding-right: 1rem;width:70%}

.car-publish-box .car-change{position: absolute; z-index: 9; top:2.3rem; right: 2.0rem; background-color: #fff; }
.car-publish-box .car-change i{font-size: 2.8rem;  }

.car-publish-box textarea{height: 8rem; line-height: 2rem; padding: 1rem 0; }
.car-publish-box select{height: 4.4rem; line-height: 4.4rem;}

.car-publish-texth textarea{height: 6rem;  }

/*car-list*/
.car-list-top{padding:1.5rem 1rem 1rem;}
.car-list-top ul{margin: 0 -1.0rem; clear: both; overflow: hidden;}
.car-list-top ul li{float: left; padding: 0 1.0rem; margin-bottom: 0.5rem;}
.car-list-top ul li.active,.car-list-top ul li.active a{color:#f60;}

.car-list-box ul li{padding: 1.0rem; border-bottom: solid 1px #ccc; background-color: #fff;}
.car-list-box ul li:last-child{border-bottom:0;/*margin-bottom: 6.0rem;*/}
.car-list-box .car-list-split{background:#f5f5f5;color:#f60;font-weight:bold;font-size:1.8rem;padding:0.5rem 1.0rem;border-bottom:0;}
.car-list-box .car-box-con{position: relative; padding-left: 6rem; }
.car-list-box .car-box-con p{line-height: 180%; color: #333; margin-bottom: 0.5rem;}
.car-list-box .car-box-con .car-list-time{position: absolute; left: 0; top:0; width: 6rem; text-align: center; font-size: 1.6rem}
.car-list-box .car-box-con .car-list-yuzuo{position: absolute; right: 2rem; top:0; }
.car-list-box .car-box-con .car-list-con{border-bottom:1px dashed #ccc; }
.car-list-box .car-box-end{ padding: 1.0rem 0; text-align: right;font-size: 1.6rem;}
.car-list-box .car-box-end .car-list-order-btn{ height: 2.5rem; line-height: 2.5rem;margin-left: 1rem;width:8rem; }

.car-list-cover{position:fixed; bottom:0; padding: 1rem; width:100%; border-top: 1px solid #ddd; background-color: #FFF; text-align: center;}
.car-list-btn{ height: 3rem; line-height: 3rem; margin-left: 1rem; padding-left:1.5rem; padding-right: 1.5rem; font-size: 1.8rem;}

/*car-balance*/
.car-balance-list{padding:1rem 0; }
.car-balance-list ul li{position: relative; padding:1.5rem 0 ;border-bottom: 1px solid #dfdfdf; }
.car-balance-list ul li:last-child{ border-bottom:none;}
.car-balance-list ul li h3{ margin-bottom: 0.6rem; padding-right: 7rem;}

.car-balance-list ul li .car-balance-num{position: absolute; top: 0.6rem;right: 0; text-align:right;}
.car-balance-list ul li .car-balance-num strong{font-size: 1.8rem; }

/*car-evaluate*/

.car-evaluate-list{padding:0;background:#fff; }
.car-evaluate-list ul li{position: relative; padding:1.5rem 1rem;border-bottom: 1px solid #dfdfdf;}
.car-evaluate-list ul li:last-child{ border-bottom: none;}
.car-evaluate-list ul li .car-evaluate-con{position: relative; padding-left: 5.5rem;}
.car-evaluate-list ul li .car-evaluate-con .car-evaluate-pic{position: absolute; top: 0;left: 0;}
.car-evaluate-list ul li .car-evaluate-con .car-evaluate-pic img{ width: 4.4rem; height: 4.4rem; border-radius: 50%; border: 1px solid #ccc}
.car-evaluate-list ul li .car-evaluate-con .car-evaluate-tit h3{font-size: 1.5rem; margin-bottom: 0.8rem; }
.car-evaluate-list ul li .car-evaluate-con .car-evaluate-tit h3 span{font-size: 1.2rem; }

.car-evaluate-list ul li .car-evaluate-con .btn-size-b{position: absolute; top: 0;right: 0; text-align:right;}
.car-evaluate-list ul li .car-evaluate-text{padding: 1.5rem 0 0; line-height: 150%; color: #666;}
.car-evaluate-list ul li .car-evaluate-reply{line-height: 150%; color: #666; border-top:1px dashed #ccc;padding-top:1.0rem;margin-top:1.0rem;  }

/*car-login*/
.car-login-box{padding:1rem 0 2rem;}
.car-login-box h2{padding:3rem 0 3rem; font-size: 2.8rem; font-weight:bold; text-align: center;}
.car-login-box h3{padding:1rem 1rem 2rem 1rem; font-size: 1.6rem; border-bottom: 1px solid #ccc; color: #666}
.car-login-box .mui-input-group .mui-input-row label{height: 6rem; line-height:6rem; padding: 0 1.0rem; font-size: 1.6rem;width: 28%;}
.car-login-box .mui-input-group .mui-input-row input{height: 6rem;line-height:6rem; padding: 0 1.0rem;}
.car-login-box .mui-input-row .mui-input-clear ~ .mui-icon-clear{height: 6rem;line-height:6rem; top:0; }
.car-login-box .mui-input-row label~input,.car-login-box .mui-input-row label~select,.car-login-box .mui-input-row label~textarea{width: 72%;padding-left: 1rem;}
.car-login-box .mui-input-row-btn { height:4.6rem;line-height:4.6rem;}

.car-login-box p{padding:1.5rem 0; font-size: 1.6rem; text-align: center; color: #666;}

.car-login-box .car-mbtn-search{margin: 2rem 0 1rem;}

/*car-travel*/
.car-travel-box{position: relative; }
.car-travel-box .car-travel-con{line-height: 200%; font-size: 1.5rem;}
.car-travel-box .car-travel-con p{color: #333;font-size: 1.5rem;}
.car-travel-box .car-travel-tip {padding:0.5rem 0;color: #d00; text-align: center; font-size: 1.6rem;}

.car-travel-box h3{padding: 1.5rem 0; font-size: 1.5rem;}

.car-travel-btn{position: absolute;  right: 0; }
.car-order-btn{position: absolute; bottom:2rem; right: 0; }
/*UserAssDetail.html里面的调整*/
.car-noLeftSeat-btn{position: absolute; bottom:7rem; right: 0; }
.car-cancel-btn{position: absolute; bottom:4rem; right: 0; }

.car-guest-box{ margin-top: 1.0rem;}
.car-guest-box .car-guest-tit{ position: relative; padding:1.2rem 1.0rem 1.5rem;}
.car-guest-box .car-guest-tit h3{font-size:1.6rem; }
.car-guest-box .car-guest-tit .car-travel-btn{top:0.5rem; right: 1.0rem;}

.car-guest-box .car-guest-con {background-color: #fff;padding:1.2rem 1.0rem;}
.car-guest-box .car-guest-con ul li{position: relative; padding:1.5rem 0 1.5rem 3rem; border-bottom: 1px solid #dfdfdf;}
.car-guest-box .car-guest-con ul li:last-child{border-bottom: none;}
.car-guest-box .car-guest-con ul li .car-guest-num{position: absolute; top:1.2rem; left: 0;width: 2rem;height: 2rem; line-height: 2rem;border-radius: 50%; text-align: center; background-color:#F5F5F5;}
.car-guest-box .car-guest-con ul li .car-guest-btn{position: absolute; top:1rem; right: 0; }

/*appointment_record*/
.car-record-list{padding:0 1rem;background:#fff; }
.car-record-list ul li{position: relative; padding:1.2rem 0 0.6rem; border-bottom: 1px solid #dfdfdf; min-height: 6.6rem;}
.car-record-list ul li:last-child{border-bottom: none;}
.car-record-list ul li .car-record-text p{color:#333; margin-bottom: 0.6rem}
.car-record-list ul li .car-record-text i{color:#999;}

.car-record-list ul li .car-record-desc{position: absolute; top: 1.2rem;right: 0; text-align:right;}
.car-record-list ul li .car-record-desc p{margin-top:2.0rem;}
.car-record-list ul li .car-record-desc .mbtn{display:block;margin-bottom:2px;}
.car-record-list ul li .car-record-desc .del{background-color:#fff;color:#f60;}

.car-record-list ul li.dis-gray, .dis-gray .desc_red,
.car-record-list ul li.dis-gray .car-record-text p{color:#999;}

.car-set{padding: 0.3rem 1.5rem; background-color:#2e6fce; font-size: 1.2rem; border-radius: 0.3rem; color: #FFF; display: inline-block;}

.dis-gray .mbtn{background-color:#FFF;color:#666; border-color: #ccc;}
.dis-gray .mbtn:hover{background-color:#f2f2f2; border-color: #aaa;color:#333}

/*real_name */
.car-real-box{padding-top: 0.5rem;}
.car-real-box .mui-input-group .mui-input-row label{font-size: 1.5rem;width: 28%;}
.car-real-box .mui-input-row label~input,.car-real-box .mui-input-row label~select,.car-real-box .mui-input-row label~textarea{width: 72%;padding-left: 1rem;font-size: 1.5rem;}

.car-real-box .car-real-card{clear: both; overflow: hidden; padding: 1.5rem 1rem; border-bottom: 1px solid #dfdfdf}
.car-real-box .car-real-card h3{ margin-bottom: 1rem;}
.car-real-box .car-real-card img{width:100%;}

.car-real-box .mui-input-row .mui-checkbox label,
.car-publish-box .mui-input-row .mui-checkbox label,
.car-login-box .mui-input-row .mui-checkbox label{display: inline-block;float: none;width: 100%;padding-left: 4rem;}
.car-real-box .mui-checkbox input[type=checkbox],
.car-publish-box .mui-checkbox input[type=checkbox],
.car-login-box .mui-checkbox input[type=checkbox]{position: absolute;top: 0.2rem;left: 0;display: inline-block;width: 2.4rem;height: 2.4rem;border: 0;}

.car-real-box {padding-bottom: 6rem;}
.car-real-box .car-mbtn-search{position:fixed; bottom:0; width:100%; border-radius: 0;margin:0; height: 5rem; line-height: 5rem;}

/*car-order-success*/
.car-order-success p img{ max-width: 15rem;width: 100%;}

/*add-car*/
.add-car-box{clear: both; overflow: hidden; background-color:#F5F5F5; height: 100%; overflow-y: auto; padding-bottom: 44px; }
.add-car-box .add-car-tit{padding: 1.5rem 1.0rem 1.0rem; font-size: 1.6rem;}
.add-car-box .add-car-con{padding: 1.0rem; background-color: #fff;}
.add-car-box .add-car-con > ul li{margin-bottom: 0.5rem;}
.add-car-box .add-car-con > ul li .add-car-pic{height: 5rem;line-height: 5rem; overflow: hidden;}
.add-car-box .add-car-con > ul li .add-car-pic img{height: 100%;}

.add-car-box .add-car-con ul.add-car-home li {margin-bottom: 0.8rem;}
.add-car-box .add-car-con ul.add-car-home li h3{border: 1px solid #ccc; padding: 0.8rem 1rem; border-radius: 0.5rem;overflow: hidden;white-space:nowrap;text-overflow: ellipsis;}
.add-car-box .add-car-con ul.add-car-home li h3:hover{border: 1px solid #f60; color:#f60;}

.add-car-box .add-car-con .add-car-abc ul li{position: relative; line-height: 4.4rem; height: 4.4rem;border-bottom: 1px solid #dfdfdf;}
.add-car-box .add-car-con .add-car-abc ul li:last-child{ border-bottom: none;}
.add-car-box .add-car-con .add-car-abc ul li h3{line-height: 4.4rem; height: 4.4rem; font-size: 1.5rem; }
.add-car-box .add-car-con .add-car-abc ul li span{position: absolute; top: 50%;right: 0; height: 4.4rem; line-height: 4.4rem;margin-top: -2.2rem;}
.add-car-box .add-car-con .add-car-abc ul li i{font-size: 1.8rem;}
/* pop all */
.quickpop{position:relative;width:100%; top:3.6rem; }
.quickpop .quickpop-box{ margin:0 1rem;padding:1rem;border-radius:8px;color:#666;background-color:#FFF;white-space:normal;}
.quickpop .quickpoptit{line-height:4rem;height:4rem;position:relative;text-align:center; font-size:1.8rem; color:#f60;}
.quickpop .quickpopcon{min-height:100px;width:100%;}

/* pop > pop_weixin */
.weixin-share img{ width:50%; max-width: 30rem;}
.quickpopcon .car-publish-box label{font-size: 1.4rem; width: 28%;}
.quickpopcon .car-publish-box input,.quickpopcon .car-publish-box textarea,.quickpopcon .car-publish-box select{font-size: 1.4rem; }

.quickpopcon .car-publish-box .mui-input-row label~input,.quickpopcon .car-publish-box .mui-input-row label~select,.quickpopcon .car-publish-box .mui-input-row label~textarea{width: 72%;padding-left: 1rem;}

/* nodate */
.car-nodata{margin: 2rem 0; text-align: center;color: #999;}
.car-nodata .car-data-ico{height: 5rem;line-height:5rem;margin:1rem 0;}
.car-nodata .car-data-ico i{font-size: 5rem;}
.car-nodata h3{ font-size: 1.8rem; }

.tag {display: inline-block;border: 1px solid #ccc;padding: 3px 6px;vertical-align: middle;margin: 5px 5px 5px 0;color: #666;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
.tag.check {background-color: #0072c6;border-color: #0072c6;color: #fff;-moz-transition: all 0.2s linear 0s;-webkit-transition: all 0.2s linear 0s;transition: all 0.2s linear 0s;}
.tag.check {background-color: #f60;border-color: #f60;}

/*margin*/
.mar5{margin:0.5rem;}
.mar10{margin:1.0rem;}
.mar15{margin:1.5rem;}

.mart5{margin-top:0.5rem;}
.mart10{margin-top:1.0rem;}
.mart15{margin-top:1.5rem;}
.mart20{margin-top:2.0rem;}

.marb5{margin-bottom:0.5rem;}
.marb10{margin-bottom:1.0rem;}
.marb15{margin-bottom:1.5rem;}
.marb20{margin-bottom:2.0rem;}

.marl5{margin-left:0.5rem;}
.marl10{margin-left:1.0rem;}
.marl15{margin-left:1.5rem;}

.marr5{margin-right:0.5rem;}
.marr10{margin-right:1.0rem;}
.marr15{margin-right:1.5rem;}

.martb10{margin-top:1.0rem; margin-bottom:1.0rem;}
.marlr10{margin-left:1.0rem; margin-right:1.0rem;}





/*padding*/
.pad5{padding:0.5rem;}
.pad10{padding:1.0rem;}
.pad15{padding:1.5rem;}

.padt5{padding-top:0.5rem;}
.padt10{padding-top:1.0rem;}
.padt15{padding-top:1.5rem;}

.padb5{padding-bottom:0.5rem;}
.padb10{padding-bottom:1.0rem;}
.padb15{padding-bottom:1.5rem;}

.padtb5{padding-top:0.5rem; padding-bottom:0.5rem;}
.padtb10{padding-top:1.0rem; padding-bottom:1.0rem;}
.padtb15{padding-top:1.5rem; padding-bottom:1.5rem;}

.padl5{padding-left:0.5rem;}
.padl10{padding-left:1.0rem;}
.padl15{padding-left:1.5rem;}

.padr5{padding-right:0.5rem;}
.padr10{padding-right:1.0rem;}
.padr15{padding-right:1.5rem;}



/* other */
.fl{float:left}
.fr{float:right}
.clear{clear:both;overflow:hidden;}
.clearfix {*zoom:1}
.clearfix:before, .clearfix:after {content: " ";	display: table}
.clearfix:after {clear: both;}
.hidden{display:none;}
.show{display:block;}
.hand{cursor:pointer;}
.overflow{overflow:hidden;}
.noBorder{border:none;}

/* layout */
.rowmar10{ margin-left: -0.5rem; margin-right: -0.5rem; clear: both; overflow: hidden;}
.colone,.coltwo,.colthree,.colfour,.colfive{ width:100%;padding-left: 0.5rem;padding-right: 0.5rem;float: left;}
.colone{ width:66.66666666%;}
.coltwo{ width:50%;}
.colthree{ width:33.33333333%;}
.colfour{ width:25%;}
.colfive{ width:20%;}	

.widper100{width: 100%;}
.widper50{width: 50%;}

.heiper100{height:100%;}

.textover{overflow: hidden;white-space:nowrap;text-overflow: ellipsis;}
/* color */
a{color:#333; text-decoration:none;outline:none;}
a:hover,a:active { color:#333; text-decoration:none;}
.textline{text-decoration:underline;}

.cWhite,.cWhite:visited,.cWhite a{color:#fff!important}
a.cWhite:hover{color:#ff0!important}
.cGray,.cGray:visited,.cGray a{color:#999!important}
.cRed,.cRed:visited,.cRed a{color:#f60!important}
.cRed a:hover,a.cRed:hover,.cGray a:hover,a.cGray:hover{color:#f60!important}

.desc_red, .desc_red a, a.desc_red, .desc_red a:hover, a.desc_red:hover{color:#f60!important}
.desc_green{ color:#3b9300!important}
.desc_blue{ color:#2e6fce!important}
.desc_yellow{ color:#db9000!important}
.desc_ccc{ color:#ccc!important}
.desc_999{ color:#999!important}
.desc_danger{ color:#f20000!important}
.desc_black{color:#000!important}
.desc_333{ color:#333!important}
.desc_href{color:#576b95!important}

.bgcolor-gray{background-color: #f5f5f5!important;}
.bgcolor-white{background-color: #fff!important;}
/*text-align*/
.text-center{text-align:center;}
.text-right{text-align:right;}
.text-left{text-align:left;}

/*font*/
.f12px{font-size:1.2rem!important;}
.f14px{font-size:1.4rem!important;}
.f15px{font-size:1.5rem!important;}
.f16px{font-size:1.6rem!important;} 
.f18px{font-size:1.8rem!important;}
.f20px{font-size:2rem!important;}
.f22px{font-size:2.2rem!important;}
.f24px{font-size:2.4rem!important;}
.f32px{font-size:3.2rem!important;}
.fb{font-weight:bold;}
.lh150{line-height: 150%;}
.lh180{line-height: 180%;}
.lh200{line-height: 200%;}

/*vertical*/
.ver_mid{vertical-align:middle;}
.ver_top{vertical-align:top;}
.ver_btm{vertical-align:bottom;}
.ver_super{vertical-align:super;}
.ver_sub{vertical-align:sub;}

/*position*/
.pabs{position:absolute;}
.prel{position:relative;}



.border-bottom{border-bottom: 1px solid #999;}
.border-bottom-dashed{border-bottom: 1px dashed #999;}

/*表单签名的字*/
.mui-input-row > label:nth-child(1) {
    font-weight:bold;
}
.mui-input-row > label:nth-child(1):after {
    content:""
}
.mui-input-row .mui-input-static {
    float:left;width:65%;height:4.4rem;line-height:4.4rem;font-size:1.5rem;padding:0 1rem;
}

